

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <style>body{
        background: linear-gradient(rgb(11, 165, 158), white);min-height: 100vh;;
        display: flex;justify-content: center; align-items: center;text-align: center;  flex-direction: column;
        }
    </style>

</head>
<body>
    <h1 style="color:rgb(11, 165, 158); background-color: white;font-family: 'Ranchers', cursive;" >WELCOME WORLD COUNTRY DATA</h1>
   <form action="/" method="POST">
        <label>
            <select name="country" id="country">
                {% for country in countries %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
        </label>
        <input style="color:rgb(11, 165, 158);background-color: white; font-weight: bold;"  type="submit" value="GET DATA">
   </form><br>
   <a href="./pagina2">
    <button style="color:rgb(11, 165, 158);background-color: white; font-weight: bold;">PAGINA 2</button>
   </a>
   {% if countryData %}
        <table>
        {% for clave,valor in countryData.items() %}
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;">{{ clave }}</th><td style="border: 1px solid black;">{{ valor }}</td>
            </tr>
        {% endfor %}
    </table>
   {% endif %}

</body>
</html>